<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBxgw9rIup77UK91yXHMXbTqiSVrVMxQc</string>
	<key>GCM_SENDER_ID</key>
	<string>731488632895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificationApp</string>
	<key>PROJECT_ID</key>
	<string>notificationsapp-a3306</string>
	<key>STORAGE_BUCKET</key>
	<string>notificationsapp-a3306.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731488632895:ios:7d2a06a26ab11712eeb88a</string>
</dict>
</plist>